* {
  box-sizing: border-box;
}

html {
  font-size: 10px; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background: #202021;
  color: #f1f1f1;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #0097c9;
  transition: 0.3s ease-in-out;
}

header {
  height: 100vh;
  display: grid;
  place-content: center;
  word-break: break-all;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

header h1 {
  font-size: 5rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

header h3 {
  font-weight: 100;
  letter-spacing: 0.3rem;
}

nav {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin: 3rem auto 0 auto;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.4rem;
}

@media screen and (min-width: 1200px) {
  header h1 {
    font-size: 8.4rem;
  }

  nav {
    margin-top: 7rem;
    flex-direction: row;
    column-gap: 4rem;
  }
}
