@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");

* {
  box-sizing: border-box;
}

html {
  font-size: 10px; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background: #202021;
  color: #f1f1f1;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #0097c9;
  transition: 0.3s ease-in-out;
}

header {
  position: relative;
  height: 100vh;
  display: grid;
  place-content: center;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  opacity: 0.4;
  z-index: -10;
}

header div {
  position: relative;
  text-align: center;
}

header h1 {
  font-size: 8.4rem;
  /* margin: 0; */
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

header h3 {
  margin: 0;
  font-weight: 100;
  letter-spacing: 0.3rem;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    top: 0;
  }
  30% {
    top: 10px;
  }
  50% {
    top: 0px;
  }
  80% {
    top: 10px;
  }
}
@-moz-keyframes bounce {
  0%,
  100% {
    top: 0;
  }
  30% {
    top: 10px;
  }
  50% {
    top: 0px;
  }
  80% {
    top: 10px;
  }
}
@keyframes bounce {
  0%,
  100% {
    top: 0;
  }
  30% {
    top: 10px;
  }
  50% {
    top: 0px;
  }
  80% {
    top: 10px;
  }
}
button {
  font-family: "Poppins", sans-serif;
}
#bouncing-button {
  margin-top: 10rem;
  margin-bottom: 2rem;
  position: relative;
  color: inherit;
  border: none;
  background-color: inherit;
  font-size: 3em;
  z-index: 10;
  animation: bounce 2s infinite ease-in-out;
  -webkit-animation: bounce 2s infinite ease-in-out;
  -moz-animation: bounce 2s infinite ease-in-out;
}

#timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 55%;
  position: relative;
}

#timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}

.timeline-entry {
  padding: 20px 0;
  width: calc(50% - 2rem);
  position: relative;
  flex-wrap: wrap;
}

.timeline-entry:first-child {
  margin-top: 7rem;
}

.timeline-entry:last-child {
  margin-bottom: 7rem;
}

.timeline-entry h3 {
  filter: blur(3px);
  font-weight: normal;
  font-size: 66px;
  margin: -10px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  font-family: "Pathway Gothic One", sans-serif;
  color: #fff;
}

.timeline-entry p {
  font-family: Cardo;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  line-height: 2.5rem;
  padding: 0 10px;
}

.timeline-entry .different {
  font-size: 1.2rem;
  opacity: 0.5;
}

.timeline-entry:before {
  content: "";
  background: #0097c9;
  width: 0.1rem;
  height: 2rem;
  transform: rotate(90deg);
  position: absolute;
  top: 4rem;
  right: -1rem;
}

.timeline-entry:nth-child(even):before {
  left: -1rem;
}

.timeline-entry:nth-child(odd) {
  text-align: right;
}

.timeline-entry:nth-child(even) {
  align-self: flex-end;
}

cite {
  font-family: Cardo;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.2rem;
}

.images {
  height: 250px;
  display: flex;
  filter: grayscale(100%);
  overflow-x: hidden;
  margin-bottom: 10rem;
}

footer {
  background: #0097c9cf;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  padding: 0.3rem 0;
  position: relative;
}

footer:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 30rem;
  margin-left: -1px;
  top: -30rem;
  content: "";
  background: rgba(255, 255, 255, 0.07);
  z-index: -10;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 767px) {
  #timeline {
    max-width: unset;
  }
  #timeline:before {
    left: 40px;
  }
  .timeline-entry {
    /* align-self: flex-start;*/
    width: 100%;
    padding: 0 30px 50px 80px;
  }

  .timeline-entry:nth-child(odd) {
    text-align: left;
  }
  .timeline-entry:before {
    left: 50px !important;
    top: 2.5rem;
  }

  blockquote {
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }

  .images {
    display: block;
    height: unset;
  }

  .images img {
    margin: 1rem auto;
  }

  footer:before {
    display: none;
  }
}
